header {
  color: $color-hero-text;
  background: url('images/bg-nyc.png') #1c1c1c no-repeat center center;
  background-size: cover;
  background-position: 0 -12vw;
  padding-top: 3rem;
}

header img {
  width: 7rem;
}

header h1 {
  margin-bottom: 2rem;
  letter-spacing: 0.0825rem;
}

#hero {
  padding-top: 13.5vw;
  padding-bottom: 14.25vw;

}

#hero-text {
  font-size: $size-hero-text;
  font-weight: 400;
  line-height: 1.85vw;
  width: 55vw;
  letter-spacing: 0.0825rem;
}

///////////////////////////////////////////
// **********  MEDIA QUERIES  ********** //
///////////////////////////////////////////

// breakpoints are based on fluid layout, not breakpoints specific to a viewport
@media screen and (max-width: 1252px) {
  #hero {
    padding-bottom: 12vw;
  }
}
// laptops
@media screen and (max-width: 960px) {
  header {
    background-position: 0;
  }
  #hero {
    padding-top: 11vw;
    padding-bottom: 13vw;
  }
  #hero-text {
    font-size: calc(#{$size-hero-text} * 1.25);
    line-height: 2.25vw;
    width: 65vw;
  }
}
// small laptops and tablets
@media screen and (max-width: 800px) {
  header {
    padding-top: 2rem;
  }

  #hero {
    padding-top: 10vw;
    padding-bottom: 12vw;
  }

  #hero-text {
    font-size: calc(#{$size-hero-text} * 1.5);
    line-height: 2.66vw;
    width: 75vw;
  }
}

// mobile phones
@media screen and (max-width: 600px) {
  header {
    padding-top: 1rem;
  }

  header h1 {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  #hero-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
