.breadcrumbs {
  font-size: $size-small-text;
  padding: 0.65rem 18vw;
}

.breadcrumb + .breadcrumb::before {
  content: '>';
  margin: 0 1rem;
}

.breadcrumb a {
  color: inherit;
  text-decoration: none;
}

.breadcrumb a.current-page {
  border-bottom: 2px solid $color-accent;
  padding: 0.85rem 0;
}

nav {
  padding-top: 9vw;
}

nav h2 {
  font-size: $size-nav-header;
  text-align: center;
}

.nav-items {
  margin: 6vw 0;

  li {
    display: inline-block;
    width: 11vw;
    height: 11vw;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(240,240,240,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(240,240,240,1);
    box-shadow: 0px 0px 7px 2px rgba(240,240,240,1);
  }

  li + li {
    margin-left: 1.5vw;
  }

  .transportation {
    position: relative;
    display: inline-block;
    width: 11vw;
    height: 11vw;
  }

  a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 10vw;
    width: 11vw;
    height: 11vw;
    font-size: calc(#{$size-small-text} * 0.85);
    //
    span {
      background-color: $color-accent;
      display: inline-block;
      width: 6rem;
      // margin: 0 auto;
      border-radius: 100px;
    }
  }
}

/////////////////////////////
// airports link - desktop //
/////////////////////////////

.airports-link::before {
  background: url('images/icon-airplane.svg') no-repeat;
  @include nav-desktop-before;
}

////////////////////////
// cabs link - desktop //
////////////////////////

.cabs-link::before {
  background: url('images/icon-taxi.svg') no-repeat;
  @include nav-desktop-before;

}

////////////////////////////
// subways link - desktop //
////////////////////////////

.subways-link::before {
  background: url('images/icon-subways.svg') no-repeat;
  @include nav-desktop-before;
}

////////////////////////
// bus link - desktop //
////////////////////////

.bus-link::before {
  background: url('images/icon-bus.svg') no-repeat;
  @include nav-desktop-before;

}

/////////////////////////
// cars link - desktop //
/////////////////////////

.cars-link::before {
  background: url('images/icon-car.svg') no-repeat;
  @include nav-desktop-before;

}

///////////////////////////////////////////
// **********  MEDIA QUERIES  ********** //
///////////////////////////////////////////

// medium to small laptops
@media screen and (max-width: 960px) {
  .breadcrumbs {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .nav-items {
    li {
      width: 12vw;
      height: 12vw;
    }

    li + li {
      margin-left: 2vw;
    }

    .transportation {
      position: relative;
      display: inline-block;
      width: 12vw;
      height: 12vw;
    }

    a span {
      width: 5rem;
    }
  }

}

// small laptops and tablets
@media screen and (max-width: 800px) {
  .breadcrumbs {
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: calc(#{$size-small-text} * 0.85);
  }

  .nav-items {
    li {
      width: 13.5vw;
      height: 13.5vw;
    }

    li + li {
      margin-left: 2.33vw;
    }

    .transportation {
      position: relative;
      display: inline-block;
      width: 13.5vw;
      height: 13.5vw;
    }

    a {
      padding-top: 12vw;

      span {
        width: 4.5rem;
      }
    }
  }

  .airports-link::before,  .cabs-link::before, .subways-link::before, .bus-link::before, .cars-link::before {
    top: 4vw;
    height: 5vw;
  }

}

// mobile phones
@media screen and (max-width: 600px) {
  .breadcrumbs {
    font-size: 0.65rem;
  }

  .breadcrumb + .breadcrumb::before {
    margin: 0 0.5rem;
  }

  .nav-items {
    margin: 3rem 0;

    li {
      display: block;
      border-top: 1px solid $color-borders-lighter;
      width: 100%;
      height: 3rem;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    li + li {
      margin-left: 0;
    }

    li:last-child {
      border-bottom: 1px solid $color-borders-lighter;
    }

    .transportation {
      height: 3rem;
    }

    a {
      color: inherit;
      text-align: left;
      padding-top: 0;

      span {
        margin: 0;
        &:hover {
          color: $color-accent;
        }
      }
    }

////////////////////////////
// airports link - mobile //
////////////////////////////
    a.airports-link {
      position: relative;
      display: inline-block;
      padding-left: 20vw;
      width: 100%;
      font-size: calc(#{$size-baseline-font} * 1.25);
      line-height: 3rem;
      span {
        background-color: transparent;
        padding: 0;
        border-radius: none;
      }
    }

    a.airports-link::before {
      width: 4rem;
      height: 2rem;
      top: 0.5rem;
    }

////////////////////////
// cabs link - mobile //
////////////////////////
    a.cabs-link {
      position: relative;
      display: inline-block;
      padding-left: 20vw;
      width: 100%;
      font-size: calc(#{$size-baseline-font} * 1.25);
      line-height: 3rem;
      span {
        background-color: transparent;
        padding: 0;
        border-radius: none;
      }
    }

    a.cabs-link::before {
      width: 4rem;
      height: 2rem;
      // left: 2vw;
      top: 0.5rem;
    }

///////////////////////////
// subways link - mobile //
///////////////////////////
    a.subways-link {
      position: relative;
      display: inline-block;
      padding-left: 20vw;
      width: 100%;
      font-size: calc(#{$size-baseline-font} * 1.25);
      line-height: 3rem;
      span {
        background-color: transparent;
        padding: 0;
        border-radius: none;
      }
    }

    a.subways-link::before {
      content: "";
      position: absolute;
      background: url('images/icon-subways.svg') no-repeat;
      background-size: contain;
      width: 4rem;
      height: 2rem;
      left: 3.5vw;
      top: 0.5rem;
    }

///////////////////////
// bus link - mobile //
///////////////////////
    a.bus-link {
      position: relative;
      display: inline-block;
      padding-left: 20vw;
      width: 100%;
      font-size: calc(#{$size-baseline-font} * 1.25);
      line-height: 3rem;
      span {
        background-color: transparent;
        padding: 0;
        border-radius: none;
      }
    }

    a.bus-link::before {
      content: "";
      position: absolute;
      background: url('images/icon-bus.svg') no-repeat;
      background-size: contain;
      width: 4rem;
      height: 2rem;
      left: 2.5vw;
      top: 0.5rem;
    }

////////////////////////
// cars link - mobile //
////////////////////////
    a.cars-link {
      position: relative;
      display: inline-block;
      padding-left: 20vw;
      width: 100%;
      font-size: calc(#{$size-baseline-font} * 1.25);
      line-height: 3rem;
      span {
        background-color: transparent;
        padding: 0;
        border-radius: none;
      }
    }

    a.cars-link::before {
      content: "";
      position: absolute;
      background: url('images/icon-car.svg') no-repeat;
      background-size: contain;
      width: 4rem;
      height: 2rem;
      left: 2vw;
      top: 0.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .breadcrumbs {
    font-size: 0.5rem;
  }

  nav h2 {
    line-height: calc(#{$size-nav-header} * 1.25);
  }
}
