$color-hero-text: #fff;
$color-body-text: #4a4a4a;
$color-header-text: #4a4a4a;
$color-section-background: #fbfbfb;
$color-caption-text: #4a4a4a;
$color-accent: #1cbeec;
$color-borders: #e1e1e1;

$size-baseline-font: 16px;
$size-header-1: 4.75vw;
$size-header-2: 2.625rem;
$size-header-3: 1.5rem;
$size-header-4: 1.25rem;
$size-nav-header: 1.625rem;
$size-hero-text: 1.3vw;
$size-small-text: 0.875rem;


// some mixins because I've been repeating myself a lot
// sh stands for section header
@mixin sh-title {
  position: relative;
}

@mixin sh-accent {
  content: "__";
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
  color: $color-accent;
}

@mixin sh-icon {
  content: "";
  position: absolute;
  background-size: contain;
  background-position: center;
  width: 100%;
  left: 0;
  height: 2.5rem;
}

@mixin sh-bg {
  display: block;
  width: 100%;
  font-size: 14vw;
  font-weight: 700;
  color: #fbfbfb;
  text-align: center;
}
