$color-hero-text: #fff;
$color-body-text: #4a4a4a;
$color-header-text: #4a4a4a;
$color-section-background: #fbfbfb;
$color-caption-text: #4a4a4a;
$color-accent: #1cbeec;

$size-baseline-font: 16px;
$size-header-1: 4.75vw;
$size-header-2: 2.625rem;
$size-header-3: 1.5rem;
$size-header-4: 1.25rem;
$size-nav-header: 1.625rem;
$size-hero-text: 1.3vw;
$size-small-text: 0.875rem;


// some mixins because I've been repeating myself a lot
// sh stands for section header
@mixin sh-title {
  position: relative;
  border: 1px solid green;
  margin-bottom: 9rem;
  // display: inline-block;
}

@mixin sh-accent {
  content: "__";
  position: absolute;
  top: 1.5rem;
  left: 48%;
  color: $color-accent;
}
